set timeout=0
set default=0

# Forza la risoluzione grafica e nasconde il menu iniziale
set gfxmode=1024x768x32,auto
set gfxpayload=keep

menuentry "GAB OS" {
    search --no-floppy --fs-uuid --set=root @GAB_UUID@
    linux /boot/vmlinuz root=/dev/sr0 ro quiet splash loglevel=3 vt.global_cursor_default=0
    initrd /boot/initrd.img
}
